<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none ms-5 mt-2">
      <app-header></app-header>
    </a>

    <nav class="d-inline-flex mt-4 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sobre</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Produtos</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Suporte</a>
    </nav>
    <button class="mr-4 mt-2 px-4 py-2 bg-indigo-50 outline-none border border-indigo-100 rounded text-indigo-500 font-medium active:scale-95 hover:bg-indigo-400 hover:text-white focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200">Secondary</button>
  </div>